* {
    font-family: Helvetica, sans-serif;
    text-align: center;
}

#two {
    color: grey;
}

#time-left {
    font-style: oblique;
}

.announce {
    font-size: 50px;
    margin: auto;
}

.win {
    color: green;
}

.lose {
    color: red;
}


.container {
    margin: 0 auto;
    display: grid;
    grid-template-columns: 33% 33% 33%;
    grid-template-rows: 33% 33% 33%;
    max-width: 300px;
}

.tile {
    border: 1px solid black;
    min-width: 100px;
    min-height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    cursor: pointer;
}

.mole {
    background-image: url('mole.jpeg');
    background-size: cover;
}

.mole-hit {
    background-image: url('mole-hit.png');
    background-size: cover;
}

#reset {
    background-color: pink;
    color: white;
    padding: 8px;
    border-radius: 8px;
    border: none;
    font-size: 20px;
    margin: 1em auto;
    cursor: pointer;

}

#reset:hover {
    background-color: red;
}